build
AlphaWolfSquad.xcodeproj/*.mode1v3
AlphaWolfSquad.xcodeproj/*.mode2v3
AlphaWolfSquad.xcodeproj/*.pbxuser
AlphaWolfSquad.xcodeproj/*.perspectivev3
*.swp
*~.nib
.DS_Store

*/errorLogFromLastBuild.txt
